html, body {
    height:100%;
}

body {
    background-color:#FFF;
    padding: 0; margin: 0;
}

#regView {
    vertical-align: top;
}

.regVal {
    width: 50px;
}

#content {
    height: 100%;
    margin: 0 auto;
}

#editorPanel {
    padding: 0 0 0 1em;
    height: 100%;
    margin: 0;
    vertical-align: top;
}

#editor {
    width: 630px;
    height: calc(100% - 70px);
    border: 1px solid rgba(136,164,155, 0.7)
}

#dashboard {
    padding-left: 1em;
    vertical-align: top;
}

#stdin_ {
    width:300px;
    height:50px;
}

#stdout_ {
    width: 300px;
    height: 100px;
}

img {
    height: 30px;
    width: auto;
}

/* This is how you would create a theme called "my-custom-theme": */

.ts-error {
	border-radius: 5px;
	border: 2px solid #F00;
	background: #C44;
	color: #fff;
}
/* Use this next selector to style things like font-size and line-height: */
.ts-error .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}

.ace_gutter-cell.ace_breakpoint {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 0px 1px 1px red inset;
}

.ace_gutter-cell {
    /* padding-left: 0 !important; */
    /* this makes the Breakpoints work. */
}

.debug_line {
    position: absolute;
    background: rgba(100,200,100,0.5);
    z-index: 20;
}