html, body {
    height:100%;
}

body {
    background-color:#FFF;
    padding: 0; margin: 0;
}

#regView {
    vertical-align: top;
}

.regh_r, .regh_w {
    width: 5px;
    padding: 0;
    text-align: center !important;
}

.regh_val {
    text-align: center !important;
}

.reg_r_cb, .reg_w_cb {
    width: 12px;
    margin: 3px 0;
    padding: 0;
}

.regVal {
    width: 65px;
}

#content {
    height: 100%;
    margin: 0 auto;
}

#editorPanel {
    padding: 0 0 0 1em;
    height: 100%;
    margin: 0;
    vertical-align: top;
}

#editor {
    width: 630px;
    height: calc(100% - 70px);
    border: 1px solid rgba(136,164,155, 0.7)
}

#dashboard {
    padding-left: 1em;
    vertical-align: top;
}

#stdin_ {
    width:300px;
    height:50px;
}

#stdout_ {
    width: 300px;
    height: 100px;
}

img {
    /* height: 30px;
    width: auto;*/
}

/* This is how you would create a theme called "my-custom-theme": */

.ts-error {
	border-radius: 5px;
	border: 2px solid #F00;
	background: #C44;
	color: #fff;
}
/* Use this next selector to style things like font-size and line-height: */
.ts-error .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}

.ace_gutter-cell.ace_breakpoint {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 0px 1px 1px red inset;
}

.ace_gutter-cell {
    /* padding-left: 0 !important; */
    /* this makes the Breakpoints work. */
}

.debug_line {
    position: absolute;
    background: rgba(100,200,100,0.5);
    z-index: 20;
}

#memoryview th {
    width: 26px;
}

#memoryview td {
    text-align: center;
}

#assemble {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#registers tr:nth-child(odd) td {
    background-color: #f9f9f9;
}
#registers th, #registers td {
    text-align: right;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.8em;
}